body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("bgn.jpg"); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: linear-gradient(to bottom right, #32cd32, #ffd700); 
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  position: absolute; 
  right: 10%; 
  top: 50%;
  transform: translateY(-50%); 
  color: #fff; 
  z-index: 10;
}

header h1 {
  font-weight: 700;
  font-size: 2rem;
  color: #006400;
  text-align: center;
}

header p {
  font-weight: 300; 
  font-size: 1rem;
  color: whitesmoke;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #34495e;
}

input,
select,
button {
  padding: 10px 15px;
  font-size: 0.9rem;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  outline: none;
}

input::placeholder {
  color: #95a5a6;
}

button {
  background-color: #006400; 
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #32cd32; 
}

.reset-btn {
  background-color: #f4f4f4;
  color: #333;
  border: 2px solid #ccc;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.reset-btn:hover {
  background-color: #ddd;
}

.result {
  margin-top: 20px;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  background-color: #ecf0f1;
  color: #2c3e50;
}

.result .error {
  color: #e74c3c;
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
  }

  header h1 {
    font-size: 1.5rem;
  }
}
